<div class="min-h-screen flex justify-content-center align-items-center bg-gray-900">
    <div class="w-full h-full flex flex-column align-items-center p-2 max-w-4xl">
      <h3 class="text-center text-4xl font-bold mb-4 text-white">Dashboard EYEQ</h3>
      <iframe
        title="DashbordPIEYEQ-version-new"
        src="https://app.powerbi.com/reportEmbed?reportId=9dd3458e-f434-45e3-ad05-d1150a6831b8&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730"        frameborder="0"
        allowFullScreen="true"
        class="w-full h-[85vh] md-h-[90vh] lg-h-[95vh]"
      ></iframe>
    </div>
  </div>