fastapi==0.115.11 
uvicorn==0.34.0
ultralytics==8.3.73
ultralytics-thop==2.0.14 
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
confluent-kafka==2.8.2
mlflow==2.21.0
python-dotenv== 1.0.1 
numpy==2.1.1
scipy==1.14.1
imageio==2.35.1
joblib==1.4.2
lazy_loader==0.4
networkx==3.3
packaging==24.1
pillow==10.4.0
scikit-image==0.24.0
tifffile==2024.8.30
pydantic==2.9.2
typing-extensions==4.12.2
httptools==0.6.1
watchfiles==0.24.0
websockets==13.0.1
python-multipart==0.0.20 







